:root {
    --primary-accent: #37383F;
    --dark-bg: #1F1C20;
    --dark-bg-items: #26242D;
    --accent-gray: #3A31B4;
    --light-text: #EEE9EE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}

body {
    color: var(--light-text);
    background: var(--dark-bg);
    margin: 0 auto;
    font-size: 16px;
}

.site-container {
    width: 100%;
    max-width: 1540px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
}

.side-nav-container {
    width: 25vw;
    max-width: 5vw;
    background: var(--dark-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.logo-container {
    height: 10vh;
    width: 100vw;
    flex-shrink: 0;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
}

.main-nav-content {
    height: 90vh;
    width: 100%;
    flex: 1;
}

.nav-footer {
    height: 100px;
    width: 100%;
}

.main-content-container {
    width: 70%;
    height: 100%;
    background: var(--dark-bg);
    display: flex;
    flex: 1;
    position: relative;
}

/* Nav bar in content */
.content-nav {
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 2%;
    right: 0;
    top: 1px;
}

.home-items {
    height: 100%;
    padding: 0.4em 1.5em;
    overflow-y: auto;
    padding-top: 1.7em;
}

.side-nav-container ul {
    margin-bottom: 30px;
}

.main-nav-content li {
    transition: 0.3s ease-in-out;
    border-radius: 8px;
}

.main-nav-content li:hover,
.main-nav-content li:focus {
    border-left: 1px solid var(--accent-gray);
    border-right: 1px solid var(--accent-gray);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Main content body styles */
#main-content {
    height: 100%;
    width: 100%;
    padding: 20px 2%;
}

@media (max-width: 750px) {
    #main-menu-btn {
        display: block;
    }

    .site-container {
        position: relative;
    }

    .side-nav-container {
        width: 90%;
        max-width: 270px;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 200;
        transition: all 0.4s ease-in-out;
        opacity: 0;
    }

    .active {
        left: 0;
        opacity: 1;
    }

    .content-nav {
        width: 100%;
    }
}
